@media screen and (min-width:1025px){
  .lg-col-25-25-50 > *:nth-child(3n+1){
    width:25%;
  }
  .lg-col-25-25-50 > *:nth-child(3n+2){
    width:25%;
  }
  .lg-col-25-25-50 > *:nth-child(3n+3){
    width:50%;
  }
  .lg-col-25-25-50 > *:nth-child(n+4){
    margin-top:1em;
  }
  .lg-col-25-25-50 > *:nth-child(3n+1) > *{
    margin-right:calc(3em / 4);
  }
  .lg-col-25-25-50 > *:nth-child(3n+2) > *{
    margin-left:calc(1em / 4);
    margin-right:0.5em;
  }
  .lg-col-25-25-50 > *:nth-child(3n+3) > *{
    margin-left:0.5em;
  }
}
