@media screen and (min-width:1025px){
  .lg-col-33 > *{
    width:calc(100% / 3);
    flex:1;
  }
  .lg-col-33 > *:nth-child(n+4){
    margin-top:1em;
  }
  .lg-col-33 > *:nth-child(3n+1) > *{
    margin-right:calc(2em / 3);
  }
  .lg-col-33 > *:nth-child(3n+2) > *{
    margin-left:calc(1em / 3);
    margin-right:calc(1em / 3);
  }
  .lg-col-33 > *:nth-child(3n+3) > *{
    margin-left:calc(2em / 3);
  }
}
