@media screen and (min-width:1025px){
  .lg-col-80-20 > *:nth-child(2n+1){
    width:80%;
  }
  .lg-col-80-20 > *:nth-child(2n+2){
    width:20%;
  }
  .lg-col-80-20 > *:nth-child(n+3){
    margin-top:1em;
  }
  .lg-col-80-20 > *:nth-child(2n+1) > *{
    margin-right:calc(1em / 5);
  }
  .lg-col-80-20 > *:nth-child(2n+2) > *{
    margin-right:calc(4em / 5);
  }
}
