@media screen and (min-width:641px)
and (max-width:1024px){
  .md-col-66-33 > *:nth-child(2n+1){
    width:calc(200% / 3);
    flex:2;
  }
  .md-col-66-33 > *:nth-child(2n+2){
    width:calc(100% / 3);
    flex:1;
  }
  .md-col-66-33 > *:nth-child(n+3){
    margin-top:1em;
  }
  .md-col-66-33 > *:nth-child(2n+1) > *{
    margin-right:calc(1em / 3);
  }
  .md-col-66-33 > *:nth-child(2n+2) > *{
    margin-left:calc(2em / 3);
  }
}
