@media screen and (min-width:641px)
and (max-width:1024px){
  .md-col-75-25 > *:nth-child(2n+1){
    width:75%;
  }
  .md-col-75-25 > *:nth-child(2n+2){
    width:25%;
  }
  .md-col-75-25 > *:nth-child(n+3){
    margin-top:1em;
  }
  .md-col-75-25 > *:nth-child(2n+1) > *{
    margin-right:calc(1em / 4);
  }
  .md-col-75-25 > *:nth-child(2n+2) > *{
    margin-left:calc(3em / 4);
  }
}
