@media screen and (max-width:640px){
  .sm-col-25-25-50 > *:nth-child(3n+1){
    width:25%;
  }
  .sm-col-25-25-50 > *:nth-child(3n+2){
    width:25%;
  }
  .sm-col-25-25-50 > *:nth-child(3n+3){
    width:50%;
  }
  .sm-col-25-25-50 > *:nth-child(n+4){
    margin-top:1em;
  }
  .sm-col-25-25-50 > *:nth-child(3n+1) > *{
    margin-right:calc(3em / 4);
  }
  .sm-col-25-25-50 > *:nth-child(3n+2) > *{
    margin-left:calc(1em / 4);
    margin-right:0.5em;
  }
  .sm-col-25-25-50 > *:nth-child(3n+3) > *{
    margin-left:0.5em;
  }
}
