@media screen and (max-width:640px){
  .sm-col-33-66 > *:nth-child(2n+1){
    width:calc(100% / 3);
  }
  .sm-col-33-66 > *:nth-child(2n+2){
    width:calc(200% / 3);
  }
  .sm-col-33-66 > *:nth-child(n+3){
    margin-top:1em;
  }
  .sm-col-33-66 > *:nth-child(2n+1) > *{
    margin-right:calc(2em / 3);
  }
  .sm-col-33-66 > *:nth-child(2n+2) > *{
    margin-left:calc(1em / 3);
  }
}
