@media screen and (max-width:640px){
  .sm-col-50 > *{
    width:50%;
  }
  .sm-col-50 > *:nth-child(n+3){
    margin-top:1em;
  }
  .sm-col-50 > *:nth-child(odd) > *{
    margin-right:calc(1em / 2);
  }
  .sm-col-50 > *:nth-child(even) > *{
    margin-left:calc(1em / 2);
  }
}
