@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");
html, body, div, ul, ol, dl {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

html {
  background-color: #fefefe;
  font-family: "Roboto", sans-serif; }

.no-js img {
  height: auto !important; }

.wrapper {
  margin: 0 auto;
  width: 94%; }

.wrapper.lg {
  max-width: 1200px; }

.wrapper.md {
  max-width: 1024px; }

.wrapper.sm {
  max-width: 768px; }

.header.primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; }

.nav.primary > ul {
  display: flex;
  align-items: center; }

.nav.primary li {
  list-style-type: none; }

/*----FLEX----*/
.flex {
  display: flex; }

.logo {
  height: 40px; }

.no-js .logo {
  height: 40px !important; }

.header.image img {
  width: 100%; }

.nav.primary a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  display: block;
  padding: 10px;
  font-size: calc(10px + 0.25vw); }

.nav.primary .cta a {
  color: #fefefe;
  background-color: #333;
  float: left;
  line-height: 40px;
  padding: 0;
  padding-left: 10px; }

.nav.primary .cta a::after {
  display: block;
  content: '';
  border: 20px solid #fefefe;
  border-left-color: #333;
  border-right: 0;
  float: right; }
