@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Allura");
html {
  background-color: #fefefe;
  font-family: "Roboto Slab", serif;
  font-size: 62.5%;
  font-weight: 300; }

@media screen and (max-width: 1000px) {
  body {
    margin-bottom: 50px; } }

html, body, div {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box;
  word-wrap: break-word; }

::selection {
  color: #fefefe;
  background-color: #3399cc; }

p, li, a, blockquote, cite, q {
  font-size: calc(16px + 0.25vw);
  line-height: 1.5; }

a {
  color: #3399cc;
  text-decoration: none; }

img {
  max-width: 100%; }

.enhanced .header.image img, .enhanced main img {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

h1 {
  font-size: calc(22px + 0.25vw); }

h2 {
  font-size: calc(20px + 0.25vw); }

h3 {
  font-size: calc(16px + 0.25vw); }

main {
  margin-bottom: 60px; }

.no-js img {
  height: auto !important; }

.wrapper {
  margin: 0 auto;
  width: 94%; }

.wrapper.lg {
  max-width: 1400px; }

.wrapper.md {
  max-width: 1024px; }

.wrapper.sm {
  max-width: 768px; }

.wrapper.sm2 {
  max-width: 560px; }

.wrapper.fw {
  width: 100%; }

.wrapper.fw.quote {
  margin: 50px 0;
  padding: 50px 0; }

.header.primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: relative; }

.module {
  margin-top: 50px;
  margin-bottom: 50px; }

.module.quote {
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }

.module.quote q, .module.quote blockquote {
  font-size: calc(38px + 0.25vw);
  display: block;
  font-style: italic;
  position: relative;
  z-index: 10; }

.module.quote .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5; }

.module.quote .quote.author {
  display: block;
  text-align: center;
  line-height: 2;
  font-size: calc(14px + 0.25vw);
  position: relative;
  z-index: 10; }

.module.img img {
  width: 100%; }

.module.text-image img {
  width: 100%; }

.module.text-image > div, .module.image-text > div {
  display: flex;
  align-items: center; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media screen and (max-width: 640px) {
  .module.image-text > div:nth-child(1) {
    order: 2; }
  .module.image-text > div:nth-child(2) {
    order: 1; } }

.module.activity ul {
  padding-left: 0; }

.module.activity li {
  border-bottom: 1px solid #ddd;
  padding-bottom: 32px;
  margin-bottom: 40px; }

.module.activity .date {
  min-width: 120px;
  margin-right: 32px; }

.module.activity .number {
  font-size: 22px;
  color: #fefefe;
  background-color: #333;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  line-height: 50px;
  text-align: center;
  margin: 0 auto; }

.module.activity .time {
  display: block;
  text-align: center; }

.module.activity .week-date {
  display: block;
  text-align: center;
  font-size: 14px; }

.module.activity .description {
  font-weight: bold; }

.module.files ul {
  padding: 0; }

.module.files li {
  list-style-type: none;
  position: relative; }

.module.files li + li {
  border-top: 1px solid #ddd; }

.module.files a {
  font-family: "Roboto Slab", serif;
  color: #404040;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  transition: color 0.4s;
  display: block;
  margin: 10px;
  padding: 18px 0; }

.module.files a::after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url("../assets/icon-download.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  float: right;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  right: 10px; }

.module.files a:hover {
  color: #3399cc; }

.module.list ul {
  padding: 0; }

.module.list li {
  margin: 6px 0; }

.module.list span {
  max-width: 48%; }

.member > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.member > div, .member > div > div {
  height: 100%; }

.staff-image {
  width: 100% !important; }

.staff-name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold; }

@media screen and (min-width: 1001px) {
  .nav.primary > ul {
    display: flex;
    align-items: center; } }

.nav.primary li {
  list-style-type: none; }

.row {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem; }

.row > * {
  width: 100%;
  margin: 0; }

.row + .row {
  margin-top: 1em; }

@media screen and (max-width: 640px) {
  .sm-gutter-zero > *,
  .sm-gutter-zero > * > * {
    margin: 0 !important; } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-gutter-zero > *,
  .md-gutter-zero > * > * {
    margin: 0 !important; } }

@media screen and (min-width: 1025px) {
  .lg-gutter-zero > *,
  .lg-gutter-zero > * > * {
    margin: 0 !important; } }

.all-gutter-zero > *,
.all-gutter-zero > * > * {
  margin: 0 !important; }

.gutter-size-10 {
  font-size: 1rem; }

.gutter-size-20 {
  font-size: 2rem; }

.gutter-size-30 {
  font-size: 3rem; }

.gutter-size-40 {
  font-size: 4rem; }

.gutter-size-50 {
  font-size: 5rem; }

@media screen and (max-width: 640px) {
  .sm-col-100 > * {
    width: 100%; }
  .sm-col-100 > *:nth-child(n+2) {
    margin-top: 1em; } }

@media screen and (max-width: 640px) {
  .sm-col-50 > * {
    width: 50%; }
  .sm-col-50 > *:nth-child(n+3) {
    margin-top: 1em; }
  .sm-col-50 > *:nth-child(odd) > * {
    margin-right: calc(1em / 2); }
  .sm-col-50 > *:nth-child(even) > * {
    margin-left: calc(1em / 2); } }

@media screen and (max-width: 640px) {
  .sm-col-33 > * {
    width: calc(100% / 3);
    flex: 1; }
  .sm-col-33 > *:nth-child(n+4) {
    margin-top: 1em; }
  .sm-col-33 > *:nth-child(3n+1) > * {
    margin-right: calc(2em / 3); }
  .sm-col-33 > *:nth-child(3n+2) > * {
    margin-left: calc(1em / 3);
    margin-right: calc(1em / 3); }
  .sm-col-33 > *:nth-child(3n+3) > * {
    margin-left: calc(2em / 3); } }

@media screen and (max-width: 640px) {
  .sm-col-25 > * {
    width: 25%; }
  .sm-col-25 > *:nth-child(n+5) {
    margin-top: 1em; }
  .sm-col-25 > *:nth-child(4n+1) > * {
    margin-right: calc(3em / 4); }
  .sm-col-25 > *:nth-child(4n+2) > * {
    margin-left: calc(1em / 4);
    margin-right: 0.5em; }
  .sm-col-25 > *:nth-child(4n+3) > * {
    margin-left: 0.5em;
    margin-right: calc(1em / 4); }
  .sm-col-25 > *:nth-child(4n+4) > * {
    margin-left: calc(3em / 4); } }

@media screen and (max-width: 640px) {
  .sm-col-66-33 > *:nth-child(2n+1) {
    width: calc(200% / 3);
    flex: 2; }
  .sm-col-66-33 > *:nth-child(2n+2) {
    width: calc(100% / 3);
    flex: 1; }
  .sm-col-66-33 > *:nth-child(n+3) {
    margin-top: 1em; }
  .sm-col-66-33 > *:nth-child(2n+1) > * {
    margin-right: calc(1em / 3); }
  .sm-col-66-33 > *:nth-child(2n+2) > * {
    margin-left: calc(2em / 3); } }

@media screen and (max-width: 640px) {
  .sm-col-33-66 > *:nth-child(2n+1) {
    width: calc(100% / 3);
    flex: 1; }
  .sm-col-33-66 > *:nth-child(2n+2) {
    width: calc(200% / 3);
    flex: 2; }
  .sm-col-33-66 > *:nth-child(n+3) {
    margin-top: 1em; }
  .sm-col-33-66 > *:nth-child(2n+1) > * {
    margin-right: calc(2em / 3); }
  .sm-col-33-66 > *:nth-child(2n+2) > * {
    margin-left: calc(1em / 3); } }

@media screen and (max-width: 640px) {
  .sm-col-75-25 > *:nth-child(2n+1) {
    width: 75%; }
  .sm-col-75-25 > *:nth-child(2n+2) {
    width: 25%; }
  .sm-col-75-25 > *:nth-child(n+3) {
    margin-top: 1em; }
  .sm-col-75-25 > *:nth-child(2n+1) > * {
    margin-right: calc(1em / 4); }
  .sm-col-75-25 > *:nth-child(2n+2) > * {
    margin-left: calc(3em / 4); } }

@media screen and (max-width: 640px) {
  .sm-col-25-75 > *:nth-child(2n+1) {
    width: 25%; }
  .sm-col-25-75 > *:nth-child(2n+2) {
    width: 75%; }
  .sm-col-25-75 > *:nth-child(n+3) {
    margin-top: 1em; }
  .sm-col-25-75 > *:nth-child(2n+1) > * {
    margin-right: calc(3em / 4); }
  .sm-col-25-75 > *:nth-child(2n+2) > * {
    margin-left: calc(1em / 4); } }

@media screen and (max-width: 640px) {
  .sm-col-50-25-25 > *:nth-child(3n+1) {
    width: 50%; }
  .sm-col-50-25-25 > *:nth-child(3n+2) {
    width: 25%; }
  .sm-col-50-25-25 > *:nth-child(3n+3) {
    width: 25%; }
  .sm-col-50-25-25 > *:nth-child(n+4) {
    margin-top: 1em; }
  .sm-col-50-25-25 > *:nth-child(3n+1) > * {
    margin-right: 0.5em; }
  .sm-col-50-25-25 > *:nth-child(3n+2) > * {
    margin-left: 0.5em;
    margin-right: calc(1em / 4); }
  .sm-col-50-25-25 > *:nth-child(3n+3) > * {
    margin-left: calc(3em / 4); } }

@media screen and (max-width: 640px) {
  .sm-col-25-50-25 > *:nth-child(3n+1) {
    width: 25%; }
  .sm-col-25-50-25 > *:nth-child(3n+2) {
    width: 50%; }
  .sm-col-25-50-25 > *:nth-child(3n+3) {
    width: 25%; }
  .sm-col-25-50-25 > *:nth-child(n+4) {
    margin-top: 1em; }
  .sm-col-25-50-25 > *:nth-child(3n+1) > * {
    margin-right: calc(3em / 4); }
  .sm-col-25-50-25 > *:nth-child(3n+2) > * {
    margin-left: calc(1em / 4);
    margin-right: calc(1em / 4); }
  .sm-col-25-50-25 > *:nth-child(3n+3) > * {
    margin-left: calc(3em / 4); } }

@media screen and (max-width: 640px) {
  .sm-col-25-25-50 > *:nth-child(3n+1) {
    width: 25%; }
  .sm-col-25-25-50 > *:nth-child(3n+2) {
    width: 25%; }
  .sm-col-25-25-50 > *:nth-child(3n+3) {
    width: 50%; }
  .sm-col-25-25-50 > *:nth-child(n+4) {
    margin-top: 1em; }
  .sm-col-25-25-50 > *:nth-child(3n+1) > * {
    margin-right: calc(3em / 4); }
  .sm-col-25-25-50 > *:nth-child(3n+2) > * {
    margin-left: calc(1em / 4);
    margin-right: 0.5em; }
  .sm-col-25-25-50 > *:nth-child(3n+3) > * {
    margin-left: 0.5em; } }

@media screen and (max-width: 640px) {
  .sm-col-20-80 > *:nth-child(2n+1) {
    width: 20%; }
  .sm-col-20-80 > *:nth-child(2n+2) {
    width: 80%; }
  .sm-col-20-80 > *:nth-child(n+3) {
    margin-top: 1em; }
  .sm-col-20-80 > *:nth-child(2n+1) > * {
    margin-right: calc(4em / 5); }
  .sm-col-20-80 > *:nth-child(2n+2) > * {
    margin-right: calc(1em / 5); } }

@media screen and (max-width: 640px) {
  .sm-col-80-20 > *:nth-child(2n+1) {
    width: 80%; }
  .sm-col-80-20 > *:nth-child(2n+2) {
    width: 20%; }
  .sm-col-80-20 > *:nth-child(n+3) {
    margin-top: 1em; }
  .sm-col-80-20 > *:nth-child(2n+1) > * {
    margin-right: calc(1em / 5); }
  .sm-col-80-20 > *:nth-child(2n+2) > * {
    margin-right: calc(4em / 5); } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-col-100 > * {
    width: 100%; }
  .md-col-100 > *:nth-child(n+2) {
    margin-top: 1em; } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-col-50 > * {
    width: 50%; }
  .md-col-50 > *:nth-child(n+3) {
    margin-top: 1em; }
  .md-col-50 > *:nth-child(odd) > * {
    margin-right: calc(1em / 2); }
  .md-col-50 > *:nth-child(even) > * {
    margin-left: calc(1em / 2); } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-col-33 > * {
    width: calc(100% / 3);
    flex: 1; }
  .md-col-33 > *:nth-child(n+4) {
    margin-top: 1em; }
  .md-col-33 > *:nth-child(3n+1) > * {
    margin-right: calc(2em / 3); }
  .md-col-33 > *:nth-child(3n+2) > * {
    margin-left: calc(1em / 3);
    margin-right: calc(1em / 3); }
  .md-col-33 > *:nth-child(3n+3) > * {
    margin-left: calc(2em / 3); } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-col-25 > * {
    width: 25%; }
  .md-col-25 > *:nth-child(n+5) {
    margin-top: 1em; }
  .md-col-25 > *:nth-child(4n+1) > * {
    margin-right: calc(3em / 4); }
  .md-col-25 > *:nth-child(4n+2) > * {
    margin-left: calc(1em / 4);
    margin-right: 0.5em; }
  .md-col-25 > *:nth-child(4n+3) > * {
    margin-left: 0.5em;
    margin-right: calc(1em / 4); }
  .md-col-25 > *:nth-child(4n+4) > * {
    margin-left: calc(3em / 4); } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-col-66-33 > *:nth-child(2n+1) {
    width: calc(200% / 3);
    flex: 2; }
  .md-col-66-33 > *:nth-child(2n+2) {
    width: calc(100% / 3);
    flex: 1; }
  .md-col-66-33 > *:nth-child(n+3) {
    margin-top: 1em; }
  .md-col-66-33 > *:nth-child(2n+1) > * {
    margin-right: calc(1em / 3); }
  .md-col-66-33 > *:nth-child(2n+2) > * {
    margin-left: calc(2em / 3); } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-col-33-66 > *:nth-child(2n+1) {
    width: calc(100% / 3);
    flex: 1; }
  .md-col-33-66 > *:nth-child(2n+2) {
    width: calc(200% / 3);
    flex: 2; }
  .md-col-33-66 > *:nth-child(n+3) {
    margin-top: 1em; }
  .md-col-33-66 > *:nth-child(2n+1) > * {
    margin-right: calc(2em / 3); }
  .md-col-33-66 > *:nth-child(2n+2) > * {
    margin-left: calc(1em / 3); } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-col-75-25 > *:nth-child(2n+1) {
    width: 75%; }
  .md-col-75-25 > *:nth-child(2n+2) {
    width: 25%; }
  .md-col-75-25 > *:nth-child(n+3) {
    margin-top: 1em; }
  .md-col-75-25 > *:nth-child(2n+1) > * {
    margin-right: calc(1em / 4); }
  .md-col-75-25 > *:nth-child(2n+2) > * {
    margin-left: calc(3em / 4); } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-col-25-75 > *:nth-child(2n+1) {
    width: 25%; }
  .md-col-25-75 > *:nth-child(2n+2) {
    width: 75%; }
  .md-col-25-75 > *:nth-child(n+3) {
    margin-top: 1em; }
  .md-col-25-75 > *:nth-child(2n+1) > * {
    margin-right: calc(3em / 4); }
  .md-col-25-75 > *:nth-child(2n+2) > * {
    margin-left: calc(1em / 4); } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-col-50-25-25 > *:nth-child(3n+1) {
    width: 50%; }
  .md-col-50-25-25 > *:nth-child(3n+2) {
    width: 25%; }
  .md-col-50-25-25 > *:nth-child(3n+3) {
    width: 25%; }
  .md-col-50-25-25 > *:nth-child(n+4) {
    margin-top: 1em; }
  .md-col-50-25-25 > *:nth-child(3n+1) > * {
    margin-right: 0.5em; }
  .md-col-50-25-25 > *:nth-child(3n+2) > * {
    margin-left: 0.5em;
    margin-right: calc(1em / 4); }
  .md-col-50-25-25 > *:nth-child(3n+3) > * {
    margin-left: calc(3em / 4); } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-col-25-50-25 > *:nth-child(3n+1) {
    width: 25%; }
  .md-col-25-50-25 > *:nth-child(3n+2) {
    width: 50%; }
  .md-col-25-50-25 > *:nth-child(3n+3) {
    width: 25%; }
  .md-col-25-50-25 > *:nth-child(n+4) {
    margin-top: 1em; }
  .md-col-25-50-25 > *:nth-child(3n+1) > * {
    margin-right: calc(3em / 4); }
  .md-col-25-50-25 > *:nth-child(3n+2) > * {
    margin-left: calc(1em / 4);
    margin-right: calc(1em / 4); }
  .md-col-25-50-25 > *:nth-child(3n+3) > * {
    margin-left: calc(3em / 4); } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-col-25-25-50 > *:nth-child(3n+1) {
    width: 25%; }
  .md-col-25-25-50 > *:nth-child(3n+2) {
    width: 25%; }
  .md-col-25-25-50 > *:nth-child(3n+3) {
    width: 50%; }
  .md-col-25-25-50 > *:nth-child(n+4) {
    margin-top: 1em; }
  .md-col-25-25-50 > *:nth-child(3n+1) > * {
    margin-right: calc(3em / 4); }
  .md-col-25-25-50 > *:nth-child(3n+2) > * {
    margin-left: calc(1em / 4);
    margin-right: 0.5em; }
  .md-col-25-25-50 > *:nth-child(3n+3) > * {
    margin-left: 0.5em; } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-col-20-80 > *:nth-child(2n+1) {
    width: 20%; }
  .md-col-20-80 > *:nth-child(2n+2) {
    width: 80%; }
  .md-col-20-80 > *:nth-child(n+3) {
    margin-top: 1em; }
  .md-col-20-80 > *:nth-child(2n+1) > * {
    margin-right: calc(4em / 5); }
  .md-col-20-80 > *:nth-child(2n+2) > * {
    margin-right: calc(1em / 5); } }

@media screen and (min-width: 641px) and (max-width: 1024px) {
  .md-col-80-20 > *:nth-child(2n+1) {
    width: 80%; }
  .md-col-80-20 > *:nth-child(2n+2) {
    width: 20%; }
  .md-col-80-20 > *:nth-child(n+3) {
    margin-top: 1em; }
  .md-col-80-20 > *:nth-child(2n+1) > * {
    margin-right: calc(1em / 5); }
  .md-col-80-20 > *:nth-child(2n+2) > * {
    margin-right: calc(4em / 5); } }

@media screen and (min-width: 1025px) {
  .lg-col-100 > * {
    width: 100%; }
  .lg-col-100 > *:nth-child(n+2) {
    margin-top: 1em; } }

@media screen and (min-width: 1025px) {
  .lg-col-50 > * {
    width: 50%; }
  .lg-col-50 > *:nth-child(odd) > * {
    margin-right: calc(1em / 2); }
  .lg-col-50 > *:nth-child(even) > * {
    margin-left: calc(1em / 2); } }

@media screen and (min-width: 1025px) {
  .lg-col-33 > * {
    width: calc(100% / 3);
    flex: 1; }
  .lg-col-33 > *:nth-child(n+4) {
    margin-top: 1em; }
  .lg-col-33 > *:nth-child(3n+1) > * {
    margin-right: calc(2em / 3); }
  .lg-col-33 > *:nth-child(3n+2) > * {
    margin-left: calc(1em / 3);
    margin-right: calc(1em / 3); }
  .lg-col-33 > *:nth-child(3n+3) > * {
    margin-left: calc(2em / 3); } }

@media screen and (min-width: 1025px) {
  .lg-col-25 > * {
    width: 25%; }
  .lg-col-25 > *:nth-child(n+5) {
    margin-top: 1em; }
  .lg-col-25 > *:nth-child(4n+1) > * {
    margin-right: calc(3em / 4); }
  .lg-col-25 > *:nth-child(4n+2) > * {
    margin-left: calc(1em / 4);
    margin-right: 0.5em; }
  .lg-col-25 > *:nth-child(4n+3) > * {
    margin-left: 0.5em;
    margin-right: calc(1em / 4); }
  .lg-col-25 > *:nth-child(4n+4) > * {
    margin-left: calc(3em / 4); } }

@media screen and (min-width: 1025px) {
  .lg-col-66-33 > *:nth-child(2n+1) {
    width: calc(200% / 3);
    flex: 2; }
  .lg-col-66-33 > *:nth-child(2n+2) {
    width: calc(100% / 3);
    flex: 1; }
  .lg-col-66-33 > *:nth-child(n+3) {
    margin-top: 1em; }
  .lg-col-66-33 > *:nth-child(2n+1) > * {
    margin-right: calc(1em / 3); }
  .lg-col-66-33 > *:nth-child(2n+2) > * {
    margin-left: calc(2em / 3); } }

@media screen and (min-width: 1025px) {
  .lg-col-33-66 > *:nth-child(2n+1) {
    width: calc(100% / 3);
    flex: 1; }
  .lg-col-33-66 > *:nth-child(2n+2) {
    width: calc(200% / 3);
    flex: 2; }
  .lg-col-33-66 > *:nth-child(n+3) {
    margin-top: 1em; }
  .lg-col-33-66 > *:nth-child(2n+1) > * {
    margin-right: calc(2em / 3); }
  .lg-col-33-66 > *:nth-child(2n+2) > * {
    margin-left: calc(1em / 3); } }

@media screen and (min-width: 1025px) {
  .lg-col-75-25 > *:nth-child(2n+1) {
    width: 75%; }
  .lg-col-75-25 > *:nth-child(2n+2) {
    width: 25%; }
  .lg-col-75-25 > *:nth-child(n+3) {
    margin-top: 1em; }
  .lg-col-75-25 > *:nth-child(2n+1) > * {
    margin-right: calc(1em / 4); }
  .lg-col-75-25 > *:nth-child(2n+2) > * {
    margin-left: calc(3em / 4); } }

@media screen and (min-width: 1025px) {
  .lg-col-25-75 > *:nth-child(2n+1) {
    width: 25%; }
  .lg-col-25-75 > *:nth-child(2n+2) {
    width: 75%; }
  .lg-col-25-75 > *:nth-child(n+3) {
    margin-top: 1em; }
  .lg-col-25-75 > *:nth-child(2n+1) > * {
    margin-right: calc(3em / 4); }
  .lg-col-25-75 > *:nth-child(2n+2) > * {
    margin-left: calc(1em / 4); } }

@media screen and (min-width: 1025px) {
  .lg-col-50-25-25 > *:nth-child(3n+1) {
    width: 50%; }
  .lg-col-50-25-25 > *:nth-child(3n+2) {
    width: 25%; }
  .lg-col-50-25-25 > *:nth-child(3n+3) {
    width: 25%; }
  .lg-col-50-25-25 > *:nth-child(n+4) {
    margin-top: 1em; }
  .lg-col-50-25-25 > *:nth-child(3n+1) > * {
    margin-right: 0.5em; }
  .lg-col-50-25-25 > *:nth-child(3n+2) > * {
    margin-left: 0.5em;
    margin-right: calc(1em / 4); }
  .lg-col-50-25-25 > *:nth-child(3n+3) > * {
    margin-left: calc(3em / 4); } }

@media screen and (min-width: 1025px) {
  .lg-col-25-50-25 > *:nth-child(3n+1) {
    width: 25%; }
  .lg-col-25-50-25 > *:nth-child(3n+2) {
    width: 50%; }
  .lg-col-25-50-25 > *:nth-child(3n+3) {
    width: 25%; }
  .lg-col-25-50-25 > *:nth-child(n+4) {
    margin-top: 1em; }
  .lg-col-25-50-25 > *:nth-child(3n+1) > * {
    margin-right: calc(3em / 4); }
  .lg-col-25-50-25 > *:nth-child(3n+2) > * {
    margin-left: calc(1em / 4);
    margin-right: calc(1em / 4); }
  .lg-col-25-50-25 > *:nth-child(3n+3) > * {
    margin-left: calc(3em / 4); } }

@media screen and (min-width: 1025px) {
  .lg-col-25-25-50 > *:nth-child(3n+1) {
    width: 25%; }
  .lg-col-25-25-50 > *:nth-child(3n+2) {
    width: 25%; }
  .lg-col-25-25-50 > *:nth-child(3n+3) {
    width: 50%; }
  .lg-col-25-25-50 > *:nth-child(n+4) {
    margin-top: 1em; }
  .lg-col-25-25-50 > *:nth-child(3n+1) > * {
    margin-right: calc(3em / 4); }
  .lg-col-25-25-50 > *:nth-child(3n+2) > * {
    margin-left: calc(1em / 4);
    margin-right: 0.5em; }
  .lg-col-25-25-50 > *:nth-child(3n+3) > * {
    margin-left: 0.5em; } }

@media screen and (min-width: 1025px) {
  .lg-col-20-80 > *:nth-child(2n+1) {
    width: 20%; }
  .lg-col-20-80 > *:nth-child(2n+2) {
    width: 80%; }
  .lg-col-20-80 > *:nth-child(n+3) {
    margin-top: 1em; }
  .lg-col-20-80 > *:nth-child(2n+1) > * {
    margin-right: calc(4em / 5); }
  .lg-col-20-80 > *:nth-child(2n+2) > * {
    margin-right: calc(1em / 5); } }

@media screen and (min-width: 1025px) {
  .lg-col-80-20 > *:nth-child(2n+1) {
    width: 80%; }
  .lg-col-80-20 > *:nth-child(2n+2) {
    width: 20%; }
  .lg-col-80-20 > *:nth-child(n+3) {
    margin-top: 1em; }
  .lg-col-80-20 > *:nth-child(2n+1) > * {
    margin-right: calc(1em / 5); }
  .lg-col-80-20 > *:nth-child(2n+2) > * {
    margin-right: calc(4em / 5); } }

/*----FLEX----*/
.flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.just-between {
  justify-content: space-between; }

.align-center {
  align-items: center; }

.hw {
  font-family: "Allura", cursive; }

.logo {
  height: 40px; }

.no-js .logo {
  height: 40px !important; }

.no-scroll {
  overflow: hidden; }

.header.image {
  margin-bottom: 32px; }

.header.image img {
  width: 100%;
  display: block; }

.enhanced .header.image {
  overflow: hidden; }

.nav.primary a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  /*display:block;*/
  padding: 16px 6px;
  font-size: calc(10px + 0.25vw); }

.nav.primary .cta a {
  color: #fefefe;
  background-color: #333;
  float: left;
  line-height: 40px;
  padding: 0;
  padding-left: 10px; }

.nav.primary .cta a::after {
  display: block;
  content: '';
  border: 20px solid #fefefe;
  border-left-color: #333;
  border-right: 0;
  float: right; }

.menu-item-has-children > a::after {
  content: '›';
  display: block;
  float: right;
  padding: 0;
  line-height: 2.5;
  margin-right: 6px; }

@media screen and (min-width: 1001px) {
  .nav-trigger {
    display: none; }
  .nav.primary .sub-menu {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 50px;
    width: 100%;
    max-height: 0;
    padding-left: 50%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    column-count: 2;
    margin-top: 14px; }
  .nav.primary a:hover + .sub-menu, .nav.primary .sub-menu:hover, .nav.primary a.is-open + .sub-menu {
    max-height: 1000px;
    padding: 50px;
    padding-top: 70px;
    padding-left: 50%; }
  .nav.primary .sub-menu li {
    border-left: 1px solid #555;
    padding-left: 10px;
    break-inside: avoid; }
  .nav.primary .sub-menu a {
    padding: 10px;
    font-weight: 400;
    color: #555; }
  .menu-toggle {
    display: none; } }

@media screen and (max-width: 1000px) {
  .nav-trigger {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 50;
    background-color: #333;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    color: #fefefe; }
  .menu-toggle a {
    color: #fefefe;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    float: right; }
  .nav.primary {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fefefe;
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 20; }
  .nav.primary a {
    font-family: "Roboto", sans-serif; }
  .nav.primary.is-open {
    display: flex;
    padding: 0 50px; }
  .nav.primary.is-open > ul {
    margin-top: 100px;
    margin-bottom: 100px; }
  .nav.primary > ul {
    overflow: auto; }
  .nav.primary > ul > li {
    padding: 0 10px; }
  .nav.primary > ul .sub-menu {
    margin-left: 10px;
    background-color: #fafafa;
    max-height: 0;
    overflow: hidden;
    padding-left: 2px; }
  .nav.primary > ul a.is-open + .sub-menu {
    max-height: 1000px; }
  .menu-item-has-children > a {
    position: relative; }
  .menu-item-has-children > a::after {
    margin-right: 20px;
    line-height: 1.5; }
  .nav.primary a {
    display: block; } }

.nav.blocks {
  margin-top: 50px; }

.nav.blocks .block a {
  text-decoration: none; }

.nav.blocks .block img {
  display: block; }

.nav.blocks .block h3 {
  color: #333;
  font-size: calc(16px + 0.25vw); }

.introduction {
  margin-top: 20px; }

.introduction * {
  font-size: calc(14px + 0.25vw);
  font-weight: 300; }

.introduction .hw {
  font-size: calc(38px + 0.25vw);
  display: block;
  text-align: center;
  line-height: 1.5; }

.index-featured h2 {
  color: #333;
  text-decoration: none;
  font-size: calc(16px + 0.25vw);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  margin: 0; }

.index-featured img {
  width: 100%; }

.index-featured a p {
  color: #333; }

.numbers {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px; }

@media screen and (max-width: 680px) {
  .numbers {
    font-size: 32px; } }

.enhanced .numbers [data-students], .enhanced .numbers [data-teachers] {
  display: none; }

.grades.numbers > div + div {
  border-top: 1px solid #ddd; }

.grades.numbers .is-closed .grade {
  max-height: 0;
  overflow: hidden; }

.grades.numbers h3 {
  font-family: "Roboto Slab", serif;
  color: #404040;
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
  padding: 18px 0;
  transition: color 0.4s; }

.grades.numbers h3:hover, .grades.numbers h3::after {
  color: #3399cc;
  cursor: pointer; }

.grades.numbers h3::after {
  content: '\2193';
  float: right;
  color: #ddd;
  font-size: 22px; }

.grades.numbers li {
  list-style-type: none; }

.grade {
  width: 100%;
  padding: 0 10px; }

.grade ul {
  margin: 0;
  padding: 0; }

.grade ul + ul {
  margin-top: 10px; }

.grade li {
  list-style-type: none;
  border-bottom: 1px solid #eee; }

.grade .b {
  font-weight: bold; }

.grade > ul > li {
  display: flex;
  justify-content: space-between; }

.intra-links {
  max-width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-left: auto; }

.intra-links li {
  list-style-type: none; }

.intra-links a {
  font-size: 12px;
  text-decoration: none;
  color: #333;
  display: block;
  margin: 0 4px; }
