@keyframes logo-attention{
  0%{
    left:0;
  }
  10%{
    left:-20px;
  }
  20%{
    left:20px;
  }
  30%{
    left:-10px;
  }
  40%{
    left:5px;
  }
  50%{
    left:-2px;
  }
  60%{
    left:0;
  }
}
