$color-primary: #0d69b5;
$color-white: #fefefe;
$color-black: #333;
$color-lightgrey: #ddd;
$color-darkgrey: #404040;
$serif-font: 'Roboto Slab', serif;
$sans-font: 'Raleway', sans-serif;
$handwritten-font: 'Allura', cursive;

html{
  background-color:$color-white;
  font-family: $sans-font;
  font-size:62.5%;
  font-weight:500;
}
@media screen and (max-width:1000px){
  body{
    margin-bottom:50px;
  }
}
html, body, div{
  margin:0;
  padding:0;
}
*{
  box-sizing:border-box;
  word-wrap:break-word;
}
::selection{
  color: $color-white;
  background-color: $color-primary;
}
p, li, a, blockquote, cite, q{
  font-size:calc(16px + 0.25vw);
  line-height:1.5;
}
a{
  color:$color-primary;
  text-decoration:none;
}
img{
  max-width:100%;
}
.enhanced .header.image img, .enhanced main img{
  display:none;
}
h1, h2, h3, h4, h5, h6{
  font-family:$sans-font;
}
h1{
  font-size:calc(22px + 0.25vw) !important;
}
h2{
  font-size:calc(20px + 0.25vw)
}
h3{
  font-size:calc(16px + 0.25vw);
}
main{
  margin-bottom:100px;
}
