.no-js img{
  height:auto !important;
}
.wrapper{
  margin:0 auto;
  width:94%;
}
.wrapper.lg{
  max-width:1200px;
}
.wrapper.md{
  max-width:1024px;
}
.wrapper.sm{
  max-width:768px;
}
.wrapper.fw{
  width:100%;
}
.wrapper.fw.quote{
  margin:50px 0;
  padding:80px 0;
}
.header.primary{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 0;
  position:relative;
}
.nav.primary > ul{
  display:flex;
  align-items:center;
}
.nav.primary li{
  list-style-type:none;
}
