.no-js img{
  height:auto !important;
}
.wrapper{
  margin:0 auto;
  width:94%;
}
.wrapper.lg{
  max-width:1200px;
}
.wrapper.md{
  max-width:1024px;
}
.wrapper.sm{
  max-width:768px;
}
.wrapper.fw{
  width:100%;
}
.wrapper.fw.quote{
  margin:50px 0;
  padding:50px 0;
}
.header.primary{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 0;
  position:relative;
}
.module{
  margin-top:50px;
  margin-bottom:50px;
}
.module.quote{
  padding-top:50px;
  padding-bottom:50px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}
.module.quote q, .module.quote blockquote{
  font-size:calc(38px + 0.25vw);
  display:block;
  font-style:italic;
  position:relative;
  z-index:10;
}
.module.quote .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.2);
  z-index:5;
}
.module.quote .quote.author{
  display:block;
  text-align:center;
  line-height:2;
  font-size:calc(14px + 0.25vw);
  position:relative;
  z-index:10;
}
.module.img img{
  width:100%;
}
.module.text-image img{
  width:100%;
}
.module.text-image > div, .module.image-text > div{
  display:flex;
  align-items:center;
}
.videoWrapper{
  position:relative;
  padding-bottom:56.25%;
  padding-top:25px;
  height:0;
}
.videoWrapper iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
@media screen and (max-width: 640px){
  .module.image-text > div:nth-child(1){
    order:2;
  }
  .module.image-text > div:nth-child(2){
    order:1;
  }
}
.module.activity .number{
  color:$color-white;
  background-color:$color-black;
  width:50px;
  height:50px;
  border-radius:50%;
}
.module.activity .description{
  width:100%;
}
@media screen and (min-width:1001px){
  .nav.primary > ul{
    display:flex;
    align-items:center;
  }
}
.nav.primary li{
  list-style-type:none;
}
