/*----FLEX----*/
.flex{
  display:flex;
}
.flex-wrap{
  flex-wrap:wrap;
}
.just-between{
  justify-content:space-between;
}
.align-center{
  align-items:center;
}
@media screen and (max-width: 1000px){
  .intra-links{
    margin-bottom:-50px;
  }
}
.link.aula{
  background-color: #44b6c0;
  border-radius:5px;
}
.link.aula a{
  animation:logo-attention 20s infinite 5s;
  background-image: url("../assets/aula-logo-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:80% auto;
  color:transparent;
  padding:10px 20px;
  position:relative;
  z-index: 2000;
}
.newsbox{
  background-color: $color-primary;
  padding:20px;
  margin-bottom:20px;
}
.newsbox *{
  color:#fff;
}
.newsbox h2{
  margin-top:0;
}
.newsbox ul{
  padding:0;
  margin:0;
}
.newsbox li{
  list-style-type:none;
}
.newsbox a{
  font-size:calc(12px + 0.25vw);
  font-weight:bold;
  text-decoration:underline;
}
.newsbox .read-more{
  display:block;
  text-align:right;
  font-size:calc(10px + 0.25vw);
}