/*----FLEX----*/
.flex{
  display:flex;
}
.flex-wrap{
  flex-wrap:wrap;
}
.just-between{
  justify-content:space-between;
}
.align-center{
  align-items:center;
}
.newsbox{
  background-color: $color-primary;
  padding:20px;
  margin-bottom:20px;
}
.newsbox *{
  color:#fff;
}
.newsbox h2{
  margin-top:0;
}
.newsbox ul{
  padding:0;
  margin:0;
}
.newsbox li{
  list-style-type:none;
}
.newsbox a{
  color:#000;
  font-size:calc(12px + 0.25vw);
  font-weight:bold;
}
.newsbox .read-more{
  display:block;
  text-align:right;
  font-size:calc(10px + 0.25vw);
}