.logo{
  height:40px;
}
.no-js .logo{
  height:40px !important;
}
.header.image{
  margin-bottom:50px;
}
.header.image img{
  width:100%;
  display:block;
  animation:headerImage 20s forwards;
}
.enhanced .header.image{
  overflow:hidden;
}
.enhanced .header.image img{
  transform:scale(1.5);
}
.nav.primary a{
  text-decoration:none;
  font-weight:bold;
  text-transform:uppercase;
  color:$color-black;
  display:block;
  padding:12px 10px;
  font-size:calc(10px + 0.25vw);
}
.nav.primary .cta a{
  color:$color-white;
  background-color:$color-primary;
  float:left;
  line-height:40px;
  padding:0;
  padding-left:10px;
}
.nav.primary .cta a::after{
  display:block;
  content:'';
  border:20px solid $color-white;
  border-left-color: $color-primary;
  border-right:0;
  float:right;
}
.menu-item-has-children > a::after{
  content:'›';
  display:block;
  float:right;
  padding:0 5px;
  line-height:1.1;
}
@media screen and (min-width:1001px){
  .nav.primary .sub-menu{
    position:absolute;
    z-index:10;
    left:0;
    top:58px;
    width:100%;
    max-height:0;
    padding-left:50%;
    overflow:hidden;
    background-color:rgba(255, 255, 255, 0.9);
    column-count:2;
  }
  .nav.primary a:hover + .sub-menu, .nav.primary .sub-menu:hover, .nav.primary a.is-open + .sub-menu{
    max-height:1000px;
    padding:50px;
    padding-top:70px;
    padding-left:50%;
  }
  .nav.primary .sub-menu li{
    border-left:1px solid #555;
    padding-left:10px;
    break-inside:avoid;
  }
  .nav.primary .sub-menu a{
    padding:10px;
    font-weight:400;
    color:#555;
  }
  .menu-toggle{
    display:none;
  }
}
@media screen and (max-width:1000px){
  .menu-toggle{
    display:block;
    background-color:$color-white;
    width:100%;
    position:fixed;
    z-index:30;
    bottom:0;
    right:0;
  }
  .menu-toggle a{
    background-color:$color-black;
    color:$color-white;
    text-decoration:none;
    font-size:20px;
    font-weight:700;
    padding:10px;
    float:right;
  }
  .nav.primary{
    position:fixed;
    bottom:0;
    right:0;
    background-color:$color-white;
    width:100%;
    height:100%;
    overflow:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    display:none;
    z-index:20;
  }
  .nav.primary a{
    font-family: $sans-font;
  }
  .nav.primary.is-open{
    display:flex;
  }
  .nav.primary > ul{
    overflow:auto;
  }
  .nav.primary > ul > li{
    padding:0 10px;
  }
  .nav.primary > ul .sub-menu{
    margin-left:10px;
    border-left: 5px solid $color-primary;
    background-color:#fafafa;
    max-height:0;
    overflow:hidden;
  }
  .nav.primary > ul a.is-open + .sub-menu{
    max-height:1000px;
  }
  .menu-item-has-children > a::after{
    margin-right:20px;
  }
}
.nav.blocks{
  margin-top:50px;
}
.nav.blocks .block a{
  text-decoration:none;
}
.nav.blocks .block img{
  display:block;
}
.nav.blocks .block h3{
  color: $color-black;
  font-size:calc(16px + 0.25vw);
}
.introduction{
  margin-top:20px;
}
.introduction *{
  font-size:calc(14px + 0.25vw);
  font-weight:400;
}
.introduction .hw{
  font-size:calc(38px + 0.25vw);
  display:block;
  text-align:center;
  line-height:1.5;
}
